* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  background-color: var(--bg-dark);
  overflow-x: hidden;
  font-family: var(--font-body);
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-dark);
  overflow-x: hidden;
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

button {
  font-family: inherit;
}
